@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Inter:wght@400;500;600;700&family=Nunito:wght@500&family=Poppins:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

* {
    font-family: "DM Sans";
}

.MobH2 {
    display: none;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;
    gap: 400px;
    position: fixed;
    background-color: white;
    width: 100%;

    img {
        width: 170px;
        &.ProfImg {
            width: 200px;
        }
    }

    &.Mob {
        display: none;
        img {
            
            &.ProfImg {
                width: 40px;
                border-radius: 100px;
            }
        }
    }

    #search {
        display: flex;
        padding: 14px;
        align-items: flex-start;
        gap: 8px;
        border-radius: 20px;
                background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
                box-shadow: 0px 10px 30px 0px rgba(202, 66, 17, 0.10);

        input {
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0.0);

            &::placeholder {
                color: white;
            }
        }
    }
}

nav {
    width: 100px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: 30px;
    padding-left: 10px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.0);
z-index: 100;
    div {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            transform: scale(1.2);
        }

        &.active {
            border-radius: 8px;
            background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));

            box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.32);
            padding: 15px;
        }

        &#logout {
            margin-top: auto;
            justify-self: end;
        }
        &#cart {
            display: none;
        }
    }
}

section.Center {
    margin-top: 100px;
    flex: 1;

  
    overflow-y: scroll;
    height: 100vh;

    .Food {
       

        padding: 0px 20px;
        margin-top: 20px;
        //width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;

        div.Meal {
            flex: 1 1 190px;
            -webkit-box-shadow: 0px 0px 39px -3px rgba(0, 0, 0, 0.03);
            -moz-box-shadow: 0px 0px 39px -3px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 0px 39px -3px rgba(0, 0, 0, 0.03);
            border-radius: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 15px 0px;
            text-align: center;
            transition: 0.3s;
            max-height: 240px;
            cursor: pointer;
            gap: 0px;

            img {
                margin-top: -45px;
                width: 100px;

                img {
                }
            }

            p {
                font-size: 12px;
            }

            h3 {
                color: #3D3D3D;
                /* header 3 px16 */
                font-family: "DM Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.48px;
            }

            &:hover {
                transform: scale(1.04);
                color: white;
                background-color: #D07000;
            }

            .helper {
                max-height: 20px;
                align-items: center;
                gap: 20px;
                display: flex;
                flex-direction: row;

                span {
                    font-size: 12px;

                    img {
                        width: 15px;
                    }
                }
            }
        }
    }

    .filter {
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-weight: 500;

        div {
            transition: 0.3s;
            border-bottom: 3px solid rgba(0, 0, 0, 0.0);
            cursor: pointer;

            img {
                display: none;
            }

            &.active {
                border-bottom: 3px solid #D07000;
                color: #D07000;
            }

            &:hover {
                border-bottom: 3px solid #D07000;
                color: #D07000;
            }
        }
    }
}

section.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;

    .korpa {
        padding: 0px 20px;
        align-self: flex-start;
        width: 25%;
        z-index: 2;
        background-color: white;
        height: 100vh;
        .Helper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        .List {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            min-height: 67%;
            max-height: 67%;
            overflow-y: auto;
            .Mobile {
                display: none;
            }
            div {
                display: flex;
                flex-direction: row;
                gap: 20px;

                img {
                    width: 70px;
                    height: 70px;

                }
                .Options{ 
                    display: none;
                    align-items: center;
                }
                .amount {
                    background-color: #2D303E;
                    padding: 10px;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    align-items: center;
                    aspect-ratio: 1 / 1;
                    // padding: 0px 25px;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                    margin-left: auto;
                    justify-self: flex-end;
                }

                .remove {
                    border-radius: 8px;
                    border: 1px solid var(--accents-red, #FF7CA3);
                    display: flex;
                    align-items: center;
                    aspect-ratio: 1 / 1;
                    padding: 10px;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                    margin-left: auto;
                    justify-self: flex-end;

                    img {
                        width: 30px;
                    }

                    &:hover {
                        background-color: #FF7CA3;
                    }
                }
            }

            
        }
        .CartFooter {
            display: flex;
            flex-direction: column;
            .Orange {
                color:#FF7CA3;
                cursor: pointer;
            }
            input {
                outline: none;

                border: none;
            }
        }
        button {
            border-radius: 20px;
            background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
            box-shadow: 0px 10px 30px 0px rgba(202, 66, 17, 0.10);
            border: none;
            display: flex;
            cursor: pointer;
            padding: 14px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: white;
            transition: 0.2s;
            width: 95%;
            &:hover {
                background-color: #bb6400;
                //transform: scale(0.99);
            }
        }
    }
}

.popup, .popup2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;

    .FoodPopUp {
        min-width: 321.914px;
        max-width: 400px;
        padding: 20px;
        flex-shrink: 0;
        border-radius: 20px;
        //background: rgba(208, 112, 0, 0.90);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .AmountBtn {
            margin-top: 20px;
            border-radius: 30px;
            background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
            color: white;
            padding: 10px;
            display: flex;
            gap: 30px;

            button {
                border: none;
                background-color: rgba(0, 0, 0, 0.0);
                color: white;
                cursor: pointer;
               
            }
        }

        .helper {
            gap: 20px;
        }

        p {
            color: #3D3D3D;

            font-family: Inter;
            font-size: 15px;
        }

        button.potvrdi {

            color: white;
            padding: 15px 20px;
            justify-content: space-between;
            border: none;
            border-radius: 20px;
            width: 80%;
            background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
            box-shadow: 0px 10px 30px 0px rgba(202, 66, 17, 0.10);
            &:hover {
                background: #D07000;

            }
            cursor: pointer;
        }
    }
}

@media only screen and (max-width:1024px) {
    section.container {
        padding: 0px;
        .korpa {
           display: none;
            position: fixed;
            min-width: 90vw;
            z-index: 100;
            height: 100vh;
            top: 0px;
            right: 0px;
            align-self: center;
            width: 25%;
            z-index: 2;
            background-color: white;
            flex-direction: column;
            &#opened {display: flex;}
            .Helper {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .List {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 46vh;
                max-height: 46vh;
                div.KorpaDiv {
                transition: 0.4s;

                    &:hover {
                        transform: translateX(-50px);
                        .Options{ 
                            display: flex;
                            .remove {
                                background-color: #FBE7E7;
                                border: none;
                                padding: 5px;
                            }
                        }
                    }
                }
                .Desktop {
                    display: none;
                }

                .Mobile {
                    display: flex;
                    align-items: center;

                    button {
                        height: 40px;
                    }
                }

                    button {
                        width: 90%;
                        border-radius: 20px;
                        background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
                        box-shadow: 0px 10px 30px 0px rgba(202, 66, 17, 0.10);
                   
                }
            }

        }
}

@media only screen and (max-width:768px) {
    section.Center {
        
    }
    .MobH2 {
        display: block;
    }

    header {
        display: none;

        &.Mob {
            display: flex;
            z-index: 111;
        }

        padding-bottom: 0px;
    }

    nav {
        position: fixed;
        max-height: 100px;
        width: 100vw;
        flex-direction: row;
        bottom: 0px;
        background-color: white;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 0px;
        gap: 10px;

        div.active {
            border-radius: 100%;
        }

        #logout{
            display: none;
        }
        #profile {
            display: none;
        }
        div {
            &#cart {
                display: initial;
            }
        }
        
    }

    section.Center {
        margin-top: 70px;

        h2 {
            font-size: 16px;
            color: #3D3D3D;
            margin-left: 15px;
        }

        .Food {
            flex-wrap: nowrap;
            flex-direction: row;
            overflow-x: scroll;
            padding-top: 40px;
            overflow-y: hidden;

            div.Meal {
                text-align: left;
                padding: 10px;
                img {
                    width: 100px;
                }
                .helper {
                    justify-self: center;
                    margin-left: auto;
                    text-align: center;
                    align-self: center;
                    justify-content: center;
                }

                p {
                    color: #3D3D3D;
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 19.5px */
                }
            }
        }

        .filter {
            overflow-x: scroll;
            padding-left: 15px;

            .helper {
                border: 0px;
                padding: 10px 0px;
                background-color: rgba(193, 218, 240, 0.10);


            }

            div {
                border-radius: 50px;
                border: 1px solid #C1DAF0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                min-width: 60px;
                padding: 10px 10px;

                img {
                    display: block;
                    opacity: 0.5;
                }

                &.active {
                    border-bottom: 0px;
                    border: 1px solid #3EC032;

                    img {
                        opacity: 1;

                    }

                    .helper {
                        background-color: rgba(169, 232, 139, 0.20);
                    }
                }

                p {
                    color: #000;

                    text-align: center;
                    /* caption */

                    font-size: 12px;
                }
            }
        }
    }
    section.container {

        .korpa {
           
        
            min-width: 90vw;
        }}
    .popup {
        .FoodPopUp {
            height: 100vh;
            min-width: 100vw;
            
            align-items: center;
            justify-content: center;
        }
    }

    
    }

}

header.Mob {
    img {
        width: 20px;
    }

    gap:0px;
    justify-content: space-evenly;
    padding-left: 0px;
    gap: 40px;
    height: 60px;
}