header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    img    {
        width: 170px;
    }
}
nav {
    width: 100px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    gap: 30px;
    div {
        
        &.active {
            border-radius: 8px;
            background: #D07000;
            box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.32);
            padding: 15px;
        }
    }

}

section {
    margin-left: 200px;
    .Food {
        margin-top: 20px;
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        div {
            flex: 1 1 180px;
            -webkit-box-shadow: 0px 0px 39px -3px rgba(0,0,0,0.06);
            -moz-box-shadow: 0px 0px 39px -3px rgba(0,0,0,0.06);
            box-shadow: 0px 0px 39px -3px rgba(0,0,0,0.11);
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 15px 0px;
            img {
                margin-top: -30px;
            }
        }
    }
    .filter {
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        div {
            &.active {
            border-bottom: 3px solid #D07000;
                color: #D07000;
                font-weight: 600;
            }
        }
    }
}