.krug {

    top: -250px;
    height: 210px;
    width: 130vw;

    padding-top: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    img {
        width: 294px;
        height: 75px;
        margin-top: 20px;
        cursor: pointer;
    }
}

.History {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

    .Narudzbe {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        overflow-y: auto;

        width: 100vw;
        height: 100vh;
        gap: 40px;
        padding-top: 100px;
        margin-top: 100px;

        &::after {
            content: "";

        }

        div.Narudzba {
            width: 80%;
            transition: 0.4s;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            .Help {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }


            border-radius: 5px;
            border: 1px solid #D07000;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(234, 124, 105, 0.30);

            span {
                text-align: center;
            }

            .Status {
                border-radius: 20px;
                background: #D07000;
                color: white;
                padding: 10px;
            }

            .Meal {
                display: none;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                gap: 10px;
                h2 {
                    text-align: left;
                }
                span.rate {
                    background-color: #F9881F;
                    color: white;
                    border-radius: 20px;
                    padding: 5px;
                    font-size: 14px;
                }
                img {
                    justify-self: flex-start;
                    width: 100px;
                }
                span {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            #arrow {
                transition: 0.3s;
            }

            &#opened {


                padding-bottom: 20px;

                .Meal {
                    display: flex;
                }

                #arrow {
                    transform: rotate(-180deg);
                }
            }


        }
    }
}

.ratingMeal {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;

    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 20px;
    z-index: 288;
    button {
        border-radius: 20px;
        background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
        box-shadow: 0px 10px 30px 0px rgba(202, 66, 17, 0.10);
        border: none;
        padding: 10px;
        color: white;
        width: 90%;
    }
}
.Order, .popup2 {
    display: none;
}

@media (max-width: 426px) {
    .krug {
        display: none;
    }
    .popup   {
        
    }
    .History  {
        header {
            position: relative;
            padding-left: 0px;
            display: flex;
            justify-content: center;
        }
        .Narudzbe {
            margin-top: 0px;
            padding-top: 40px;
            div.Narudzba {
                width: 90%;
                #date {
                    display: none;
                }
                img {
                    width: 100px;
                    &#arrow {
                        width: initial;
                    }
                }
            }
        }
       
    }
    .Order {
        width: 100vw;
        height: 100vh;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        h2 {
            margin-left: 20px;
        }
        #leftarw {
            transform: rotate(-180deg);
        }
        .Help {
            width: 90vw;
            #date {
                display: flex;
                align-items: center;
                flex-direction: row;
            }
            .Status {
                background-color: #FE554A;
                color: white;
             
                border-radius: 20px;
                padding:7px;
            }
            .helperRow {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                span {
                    text-align: center;
                    width: 80px;
                }
            }
            .otkazi {
                background-color: #FE554A;
                color: white;
                min-width: 90vw;
                border-radius: 20px;
                padding:7px;
            }
        }
        gap: 10px;
       
            .Meal {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                img {
                    width: 100px;
                }
                #kolicina {
                    background-color: #D07000;
                    height: 20px;
                    color: white;
                    text-align: center;
                    border-radius: 10px;
                    padding: 5px;
                    width: 20px;
                }
                
            }
            h2 {
                justify-self: flex-start;
                margin-right: auto;
            }
            span.rate {
                border-radius: 20px;
                background: var(--primary-gradient, linear-gradient(109deg, #F9881F 23.73%, #FF774C 79.34%));
                box-shadow: 0px 10px 30px 0px rgba(202, 66, 17, 0.10);
                color: white;
                width: 80vw;
                text-align: center;
                padding: 5px 20px;
            }
        }
    
}